@import "tailwindcss";

@theme {
  --animate-marquee-vertical: marquee-vertical 30s linear infinite;
  --animate-marquee-vertical-slow: marquee-vertical 40s linear infinite;
  --animate-marquee-vertical-fast: marquee-vertical 25s linear infinite;

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}
